.box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: aquamarine;
}

#box {
    height: 250px;
    width: 200px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: blue;
}

.red {
    color: red;
}

.blue{
    color: blue;
}

.box{
    background-color: pink;
    border: 1px solid black;
}